{% include "admin_dashboard/header.html" %}
<section class="about_area section_gap">
      <div class="container">
        <div class="row h_blog_item">
          <div class="col-lg-6">
            <div class="h_blog_img">
              <img class="img-fluid" src="{{ url_for('static', filename='img/about.png')}}" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="h_blog_text">
              <div class="h_blog_text_inner left right">
<h3>Student Details</h3>

 <table    style="margin-left:0px; " width="100%"  cellpadding="0" cellpadding="0">
					<tr>
				
					<td>Name</td>
								
					<td>Email </td>
					
							
								
							</tr>

					<tr>
{% for account in account%}
<tr>
	<td>{{ account['name'] }}</td>
    <td>{{account['email']}}</td>	
</tr>
{% endfor %}

					
							
		
					</table>
