<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png')}}" type="image/png" />
    <title> TNPSC Group IV</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/nice-select/css/nice-select.css')}}" />
    <!-- main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
  </head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">
      

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index.html"
              ><img src="{{ url_for('static', filename='img/logo_gr4.jpg') }}" width="140" alt=""></a>
            <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation" >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset"
              id="navbarSupportedContent" >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('student_dashboard') }}">Syllabus</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('materials') }}">Materials</a>
                </li>
                   
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('mock_test') }}">Mock Test</a>
                </li>
                   
               

                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('performance') }}">performance</a>
                </li>
              
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('index') }}">Logout</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
	 <script>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      alert("{{ messages[0] }}");
    {% endif %}
  {% endwith %}
</script>