   <!--================ Start footer Area  =================-->
    <footer class="footer-area section_gap1">
      <div class="container">
        <div class="row footer-bottom d-flex justify-content-between">
        Copyright &copy;  2026 | Question - All rights reserved.
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="'{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="'{{ url_for('static', filename='js/popper.js')}}"></script>
    <script src="'{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="'{{ url_for('static', filename='vendors/nice-select/js/jquery.nice-select.min.js')}}"></script>
    <script src="'{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js')}}"></script>
    <script src="'{{ url_for('static', filename='js/owl-carousel-thumb.min.js')}}"></script>
    <script src="'{{ url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="'{{ url_for('static', filename='js/mail-script.js')}}"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="'{{ url_for('static', filename='js/gmaps.min.js')}}"></script>
    <script src="'{{ url_for('static', filename='js/theme.js')}}"></script>
  </body>
</html>
