{% include "header.html" %}
<section class="about_area section_gap">
      <div class="container">
        <div class="row h_blog_item">
          <div class="col-lg-6">
            <div class="h_blog_img">
              <img class="img-fluid" src="{{ url_for('static', filename='img/about.png')}}" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="h_blog_text">
              <div class="h_blog_text_inner left right">
<h3>Student Login</h3>

<form method="POST">

<input type="email" name="email" class="form-control" placeholder="Email" required>

<br>

<input type="password" name="password" class="form-control" placeholder="Password" required>

<br>

<button class="btn btn-success">Login</button>
<br>
<br>
<a href="{{url_for('register')}}">New Register</a>

</form>
</div>
            </div>
          </div>
        </div>
      </div>
    </section>
	{% include "footer.html" %}